<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Vos réservations</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hôtel Barrière Le Normandy - Deauville</ion-card-subtitle>
      <ion-card-title >Junior Suite Prestige</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="bookmarks"></ion-icon>Réservé
      <ion-item>
        20 - 22 mars<hr>
        2 adultes <hr>
        <strong>688€</strong>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-img src="../assets/photo1.jpeg"></ion-img>
      <hr>
      Harmonie des tons sépia, charmant salon séparé avec canapé convertible et vue sur la ville ou sur le toit translucide de la piscine intérieure.
      <hr>
      <ion-img src="../assets/photo2.jpeg"></ion-img>
      <hr>
      Cette spacieuse Suite séduit par son style raffiné et dévoile 46m2 d’élégance et de confort pour un séjour d’exception.
      <hr>
      <ion-img src="../assets/photo3.jpeg"></ion-img>
      <hr>
    </ion-card-content>
  </ion-card>

  <ion-card >

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title >Annuler votre réservation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>Comment faire pour contacter <strong>Bim & Boom ?</strong> </ion-card-subtitle>
      <hr>
      Cliquez ici pour savoir quelles sont les options pour nous contacter.
      <hr>
      <ion-card-subtitle>Comment faire pour annuler ma réservation ?</ion-card-subtitle>
      <hr>
      Veuillez vous rendre sur notre portail d’assistance clientèle pour trouver toutes les informations nécessaires pour annuler votre réservation.
      <hr>
      <ion-card-subtitle>Quand pourrais-je obtenir mon remboursement ?</ion-card-subtitle>
      <hr>
      Les remboursements d’hôtels, de voitures et d’activités sont traités dans le délai habituel, soit 24 heures suivant la demande d’annulation. Veuillez garder à l’esprit que votre banque ou votre service de paiement détermine le moment où les fonds seront disponibles sur votre compte.
      <hr>
      <ion-card-subtitle>Quand pourrais-je obtenir mon bon voyage ?</ion-card-subtitle>
      <hr>
      Nous émettrons votre bon sous 2 jours.
      <hr>
      <ion-card-subtitle>Comment faire pour réserver un nouveau séjour sans risquer de problème à l’avenir ?</ion-card-subtitle>
      <hr>
      Afin de disposer du maximum de flexibilité pour vos futurs séjours, nous vous conseillons de réserver une chambre avec un tarif remboursable (précisé par un badge). De cette façon, vous pourrez modifier votre réservation, si besoin est, le moment voulu.
      <hr>
    </ion-card-content>
  </ion-card>

</ion-content>
