<ion-content padding class="background">
    <ion-card>
      <ion-card-content>
        <form #form="ngForm" >
          <img src="assets/logo.png" height="180px" width="180px" >
          <ion-item>
            <ion-icon slot="start" name="person-circle"></ion-icon>
              <ion-label position="floating">Username</ion-label>
            <ion-input  type="email" name="username" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="key"></ion-icon>
              <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" ngModel required></ion-input>
          </ion-item>

            <ion-card-content>
              <ion-button expand="block" color="primary" type="submit">Log in</ion-button>
            </ion-card-content>

        </form>
      </ion-card-content>
    </ion-card>

</ion-content>
